[Unit]
Description=something to do the boot stuff
After=multi-user.target

[Service]
Type=forking
ExecStart=/home/pi/deployinator/startup_scripts/auto_start.sh

[Install]
WantedBy=multi-user.target
